* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    height: 100vh;
    background: url('../img/background/initial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    font-family: 'Libre Franklin';
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

/* Loader */
.loader {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    z-index: 11111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Navigation section */
nav.search-bar {
    padding-top: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav.search-bar input.search {
    width: 260px;
    height: 40px;
    padding: 15px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: rgba(125, 125, 125, 0.5);
    color: #fff;
}

nav.search-bar input::placeholder {
    font-size: 16px;
    color: rgba(201, 201, 201, 1);
    opacity: 1;
    font-family: 'Libre Franklin', serif;
}

nav.search-bar .search-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: rgba(125, 125, 125, 0.5);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

nav.search-bar .search-btn:hover {
    background-color: rgba(153, 153, 153, 0.5);
}

/* Weather information section */
.weather {
    height: calc(100vh - 500px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    z-index: 111;
    opacity: 0;
    transition: 1s ease-in-out;
}

.weather-active {
    opacity: 1;
}

.weather .temp-city-container {
    display: flex;
    align-items: flex-end;
}

.weather .temp-city-container #temp {
    font-size: 110px;
    line-height: 98px;
    margin-right: 10px;
}

.weather .temp-city-container #city {
    font-size: 40px;
}

.weather .temp-city-container #date {
    font-size: 20px;
}

.weather .description-container {
    display: flex;
    align-items: flex-end;
}

.weather .description-container #description {
    font-size: 40px;
    margin-right: 10px;
    text-transform: capitalize;
}

.weather .description-container #icon {
    width: 110px;
}

/* Additional info section */
.additional-info {
    position: absolute;
    width: 100vw;
    height: 375px;
    left: 0px;
    bottom: 0px;
    background: rgba(68, 78, 88, 0.5);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    transform: translateY(375px);
    transition: 1s ease-in-out;
}

.additional-info.active {
    transform: translateY(0);
}

.additional-info .additional-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 100px 70px 100px;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.additional-info .additional-container h2 {
    margin-bottom: 35px;
    font-size: 25px;
}

.additional-info .additional-container .weather-details {
    flex-basis: 300px;
    margin-right: 50px;
}

.additional-info .additional-container .next-days {
    max-width: 700px;
    flex-basis: 100%;
    padding-left: 50px;
    border-left: 1px solid #c9c9c9;
}

.additional-info .additional-container .info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

h3 {
    color: #c9c9c9;
    font-size: 20px;
}

.additional-info .additional-container .details-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.additional-info .additional-container .details-container .details-item {
    flex-basis: 30%;
    padding-right: 50px;
}

.additional-info .additional-container .details-container .details-item h3 {
    margin-bottom: 10px;
}

.additional-info .additional-container .details-container .details-item .details-info {
    display: flex;
    justify-content: space-between;
}