* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    height: 100vh;
    background-color: rgb(0, 174, 255);
    /* background: url('../img/background/clear\ sky.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Libre Franklin';
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

/* Map */
#map {
    height: 300px;
    width: 450px;
    border-radius: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Loader */
.loader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11111;
}

.hide {
    display: none;
}

.lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Navigation section */
nav.search-bar {
    padding-top: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav.search-bar input.search {
    width: 260px;
    height: 40px;
    padding: 15px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.607);
    color: #4c4c4c;
    font-size: 16px;
}

nav.search-bar input::placeholder {
    font-size: 16px;
    color: #4c4c4c;
    opacity: 1;
    font-family: 'Libre Franklin', serif;
}

nav.search-bar .search-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: rgba(125, 125, 125, 0.5);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

nav.search-bar .search-btn:hover {
    background-color: rgba(153, 153, 153, 0.5);
}

/* Weather information section */
.weather {
    height: calc(100vh - 500px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    z-index: 111;
    opacity: 0;
    transition: 1s ease-in-out;
}

.weather-active {
    opacity: 1;
}

.weather .temp-city-container {
    display: flex;
    align-items: flex-end;
}

.weather .temp-city-container #temp {
    font-size: 110px;
    line-height: 98px;
    margin-right: 10px;
}

.weather .temp-city-container #city {
    font-size: 40px;
}

.weather .temp-city-container #date {
    font-size: 20px;
}

.weather .description-container {
    display: flex;
    align-items: flex-end;
}

.weather .description-container #description {
    font-size: 40px;
    margin-right: 1rem;
    text-transform: capitalize;
}

.weather .description-container #icon {
    width: 110px;
}

@media screen and (max-width: 1150px) {
    .weather .temp-city-container #temp {
        font-size: 90px;
        line-height: 78px;
    }

    .weather .temp-city-container #city {
        font-size: 30px;
    }

    .weather .temp-city-container #date {
        font-size: 15px;
    }

    .weather .description-container #description {
        font-size: 30px;
    }

    .weather .description-container #icon {
        width: 90px;
    }
}

/* Additional info section */
.additional-info {
    position: absolute;
    width: 100vw;
    height: 375px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(68, 78, 88, 0.5);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    transform: translateY(375px);
    transition: transform 1s ease-in-out;
}

.additional-info.active {
    transform: translateY(0);
}

.additional-info .additional-container {
    max-width: 1440px;
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    color: #fff;
}

.additional-info .additional-container .line {
    width: 1px;
    height: 170px;
    background-color: #c9c9c9;
    align-self: center;
}

.additional-info .additional-container h2 {
    margin-bottom: 35px;
    font-size: 25px;

}

.additional-info .additional-container .weather-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
}

.additional-info .additional-container .weather-details .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.additional-info .additional-container .next-days {
    max-width: 700px;
    flex-basis: 33%;
}

.additional-info .additional-container .info-item {
    display: flex;
    justify-content: space-between;
}

.additional-info .additional-container .info-item p {
    font-size: 20px;
}

h3 {
    color: #c9c9c9;
    font-size: 20px;
}

.additional-info .additional-container .details-container {
    width: 100%;
    display: flex;
}

.additional-info .additional-container .details-container .details-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.additional-info .additional-container .details-container .details-item .temp-items {
    display: flex;
    align-items: center;
    gap: 10px;
}

.additional-info .additional-container .details-container .details-item .temp-items h3 {
    transform: translateY(-1px);
}

@media screen and (max-width: 1150px) {

    .additional-info .additional-container h2 {
        font-size: 20px;
    }

    .additional-info .additional-container .info-item p {
        font-size: 17px;
    }

    h3 {
        font-size: 17px;
    }


}